/*Menu*/

.sidebar {
  border-radius: 10px;
  height: 245px;
  width: 50px;
  position: fixed;
  top: 10;
  left: 0px;
  background-image: linear-gradient(to bottom, var(--color3), var(--color5));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #555;
  margin-bottom: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon i {
  color: var(--color2);
}

.content {
  margin-left: 70px;
  padding: 20px;
}

.icon:hover {
  background-color: var(--color1);
}

#poemas:hover::after {
  content: "poemas"; /* Substitua pelo seu texto */
  position: absolute;
  top: 50%;
  left: 70px; /* Ajuste a posição conforme necessário */
  transform: translateY(-50%);
  background-color: var(--color2); /* Altere para a cor desejada */
  color: var(--color1);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#poemas:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px); /* Ajuste a posição conforme necessário */
}

#redesociais:hover::after {
  content: "Redes sociais"; /* Substitua pelo seu texto */
  position: absolute;
  top: 50%;
  left: 70px; /* Ajuste a posição conforme necessário */
  transform: translateY(-50%);
  background-color: var(--color2); /* Altere para a cor desejada */
  color: var(--color1);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#redesociais:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px); /* Ajuste a posição conforme necessário */
}

#sobreosite:hover::after {
  content: "Sobre o site"; /* Substitua pelo seu texto */
  position: absolute;
  top: 50%;
  left: 70px; /* Ajuste a posição conforme necessário */
  transform: translateY(-50%);
  background-color: var(--color2); /* Altere para a cor desejada */
  color: var(--color1);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#sobreosite:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px); /* Ajuste a posição conforme necessário */
}

#admin:hover::after {
  content: "Admin"; /* Substitua pelo seu texto */
  position: absolute;
  top: 50%;
  left: 70px; /* Ajuste a posição conforme necessário */
  transform: translateY(-50%);
  background-color: var(--color2); /* Altere para a cor desejada */
  color: var(--color1);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#admin:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px); /* Ajuste a posição conforme necessário */
}

#home:hover::after {
    content: "Inicio"; /* Substitua pelo seu texto */
    position: absolute;
    top: 50%;
    left: 70px; /* Ajuste a posição conforme necessário */
    transform: translateY(-50%);
    background-color: var(--color2); /* Altere para a cor desejada */
    color: var(--color1);
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  #home:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(5px); /* Ajuste a posição conforme necessário */
  }
/*menu*/


/*sla*/