@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/pixo-reto-sp');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@media (max-width: 768px) { }

:root {
    --fonte1: 'Pixo Reto SP', sans-serif;
    --fonte2: 'Sedgwick Ave Display', cursive;
    --fonte3:  'Gloria Hallelujah', cursive;
    --color1: #000000;
    --color2: white;
    --color3: #0c1821;
    --color4: #1b2a41;
    --color5: #324a5f;
    --color6: #ccc9dc;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--color2);
}

html, body{
    min-height: 100vh;
    background-color: var(--color4);
}

header{
    background-color: var(--color1);
    text-align: center;
}

header > h1{

    color: var(--color2);
    padding: 30px;
    font-size: 55px;
    font-family: var(--fonte2);
    text-shadow: 1px 1px 3px ;
    letter-spacing: 3px;
}

nav{
    background-color: var(--color3);
    padding: 1vh;
}

nav > button {
    border: transparent;
    width: 50px;
    background-color: transparent;
}

nav img{
    width: 40px;
}

nav a:hover{
    border: solid black;
    background-color: var(--color1);
    border-radius: 10px;
    margin: 0.5vh;
}

main div{
    background-color: transparent;
    width: 100px;
    height: 350px;

} 

footer{
    font-family: var(--fonte2);
    font-size: 20px;
    background-color: var(--color1);
    text-align: center;
    padding: 5px;
}

#tag{
    font-size: 30px;
    font-family: var(--fonte1);
    font-weight: bolder;
}