@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/pixo-reto-sp');

@media (max-width: 768px) {

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--color2);
}

:root {
    --fonte1: 'Pixo Reto SP', sans-serif;
    --color1: black;
    --color2: white;
    --color3: rgba(0, 0, 0, 0.616);
    --color4: rgb(39, 29, 29);
}

header{
    background-color: var(--color1);
    padding: 7vh;
}

header > h1{
    color: var(--color2);
    text-align: center;
}

header > p{
    color: var(--color2);
    text-align: center;
    padding-top: 2vh;
}

body{
    background-color: var(--color4);
}

nav{
    background-color: var(--color3);
    text-align: center;
    padding: 1vh;
}

nav  a{
    margin: 1vh;
}

nav a:hover{
    border: solid black;
    background-color: var(--color1);
    border-radius: 10px;
    margin: 0.5vh;
}

main div{
    background-color: transparent;
    width: 100px;
    height: 300px;

}

footer{
    padding: 0.5vh;
    background-color: var(--color1);
    font-size: 5vh;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 7vh;
}

#tag{
    font-family: var(--fonte1);
}